# ================== HADOOP CLUSTER ==================
HADOOP_CLUSTER_NAME=your-hadoop-cluster-name
HADOOP_FS_DEFAULT_FS=hdfs://namenode:8020
HADOOP_NAMENODE_UI_PORT=9870
HADOOP_NAMENODE_PORT=9000
HADOOP_DATANODE_UI_PORT=9864
HADOOP_RESOURCEMANAGER_UI_PORT=8088

# ================== KAFKA CLUSTER ==================
ZOOKEEPER_PORT=2181
KAFKA1_PORT=9092
KAFKA1_JMX_PORT=9101
KAFKA2_PORT=9093
KAFKA2_JMX_PORT=9102
KAFKA_UI_PORT=8080
KAFKA_CLUSTER_NAME=your-kafka-cluster-name
KAFKA_BOOTSTRAP_SERVERS_INTERNAL=kafka1:29092,kafka2:29093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
KAFKA_DELETE_TOPIC_ENABLE=true

# ================== SPARK CLUSTER ==================
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8081
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_1_UI_PORT=8081
SPARK_WORKER_2_UI_PORT=8082
SPARK_APPS_DIR=./spark-apps
SPARK_DATA_DIR=./spark-data
